.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 6.5rem;
    margin-bottom: 1rem;
}

.container p a {
    text-decoration: none;
    background-color: #ff723a;
    padding: 1rem;
    transition: filter 0.3s;
}

.container p a:hover {
    filter: brightness(0.9);
}